.DS_Store
.idea
vendor
output/public/core*
output/public/extensions*
output/public/lib*
output/public/themes*
output/public/ci*
output/public/bootcamp*
output/public/pdf*
output/public/erlang*
output/public/mob*
output/public/mobile*
output/public/mongodb*
output/public/ruby*
index.*
*.*~
*~